*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #ffefd6d3;
}

.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25rem;
    width: 25rem;
}

input[type="checkbox"]
{
    position: absolute;
    top: 6.25rem;
    left: 50%;
    transform: translate(-50%);
    appearance: none;
    height: 9.37em;
    width: 18.75em;
    background-color: #3A8891;
    border-radius: 4.68em;
    transition: background 0.3s;
}

input[type="checkbox"]::before
{
    position: absolute;
    content: "";
    height: 8.12em;
    width: 8.12em;
    background-color: #0E5E6F;
    border-radius: 50%;
    top: 0.68em;
    left: 0.68rem;
    transition: 0.3s;
}

label[for="light"]
{
    position: absolute;
    content: "";
    height: 6.25em;
    width: 0.62em;
    background-color: #f4ddb3;
    top: 11rem;
    left: 8em;
    z-index: -1;
    transition: 0.3s;
}

label[for="light"]::after
{
    position: absolute;
    top: 5.75em;
    left: -0.68em;
    content: "";
    height: 0;
    width: 0.75em;
    border-bottom: 1.56em solid #3A8891;
    border-left: 0.62em solid transparent;
    border-right: 0.62em solid transparent;
    transition: 0.3s;
}

input[type="checkbox"],
label[for="light"]
{
    cursor: pointer;
}

input[type="checkbox"]:checked
{
    background-color: #0E5E6F;
}

input[type="checkbox"]:checked::before
{
    position: absolute;
    background-color: #3A8891;
    left: 9.9em;
    border: 0.4px solid #0E5E6F;
    box-shadow: 0 0 8.75em 1.87em rgba(58, 136, 145, 0.8);
}

input[type="checkbox"]:checked + label {
    top: 12rem;
}